<h1>Новый отзыв</h1>
<<<<<<< HEAD
<div id="reg">
<%= render 'form' %>
<%= link_to 'Назад', posts_path %>
</div>
=======

<%= render 'form' %>

<%= link_to 'Назад', posts_path %>
>>>>>>> e41dca022a876dbd781796ed5faf139d9cab1c7d
