html, body, #map-canvas {
	background-image: url(9.jpg);
        height: 81%;
		width: 80%;
        margin: 0px;
		margin-top: 0%;
		margin-left: 8%;
        padding: 0px
      }
	  
#panel {
	/*position: absolute;*/
	margin-top: 5%;
	/*left: 50%;*/
	width: 235px;
	margin-left: 38%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
