html, body, #map-canvas {

	background-image: url(9.jpg);
        height: 90%;
		width: 80%;
        margin: 0px;
		margin-top: 0%;
		margin-left: 8%;
        padding: 0px
      }
label {
  display: inline-block;
  margin-bottom: 5px;
}
	  
#panel {
	/*position: absolute;*/
	margin-top: 5%;
	/*left: 50%;*/
	width: 260px;
	margin-left: 38%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
#ups {
float:right;
}
#op {
float:right;
}
#reg {
margin:0 40% 0 40%;
  width:25%;
}
#content{
font-variant:small-caps;
font-weight:bold;
font-size:13px;
color: rgb(0, 136, 204);
  
}



