<<<<<<< HEAD
<p>Welcome <%= @email %>!</p>
=======
<p>Welcome <%= @resource.email %>!</p>
>>>>>>> e41dca022a876dbd781796ed5faf139d9cab1c7d

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
