<p>Hello <%= @resource.email %>!</p>

<<<<<<< HEAD
<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
=======
<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>
>>>>>>> e41dca022a876dbd781796ed5faf139d9cab1c7d

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
